.btn {
	appearance: none;
	border: none;
	border-radius: 4px;
	color: #fff;
	border-bottom: solid 2px;
	cursor: pointer;
	font-size: 2rem;
	font-family: 'Merriweather Sans', sans-serif;
	padding: 0.7rem 1rem;
	position: relative;
	&:hover {
		top: -1px;
	}
}

.btn-primary {
	background: #3498db;
	border-color: #2980b9;
}

.btn-default {
	background: #627b8b;
	border-color: #3f515d;
}