.vcard {
	border-bottom: solid 2px #9a9a9a;
	width: 43rem;
	max-width: 100%;
	margin: 0 auto;
	h3 {
		color: #95a5a6;
		text-transform: uppercase;
		text-align: right;
		margin-bottom: 1rem;
	}
	header {
		min-height: 10rem;
		position: relative;
		background: #2c3e50;
		padding: 4.9rem 2.5rem 2rem;
	}
	h2 {
		color: #fff;
		font-size: 2.1rem;
		font-weight: 700;
		line-height: 1.3;
		width: calc(100% - 8rem);
		@include md {
			font-size: 2.4rem;
		}
	}
	.avatar {
		position: absolute;
		width: 8.3rem;
		height: 10.4rem;
		top: 1rem;
		right: 1.3rem;
		box-shadow: 0 1px 0px 1px #b3b3b3;
		background: #fff;
	}
	.content {
		padding: 3rem 2.5rem 1.5rem;
		background: #fff;
	}
	label {
		font-size: 1rem;
		color: #34495e;
		text-transform: uppercase;
		display: block;
		width: 7rem;
		margin-bottom: 0.7rem;
		@include md {
			margin-bottom: 0.4rem;
		}
		&.spacer {
			display: none;
			@include md {
				display: inline-block;
			}
		}
		@include md {
			display: inline-block;
		}
	}
	span {
		font-family: 'Merriweather', serif;
	}
	.line {
		border-bottom: solid 1px #dbe0e2;
		margin-bottom: 1.2rem;
		overflow: hidden;
		white-space: nowrap;
		padding-bottom: 0.4rem;
		height: 3.7rem;
		&.second {
			height: 2rem;
		}
		@include md {
			padding-bottom: 0;
			height: auto;
		}
	}
}