.form-group {
	margin-bottom: 1.6rem;
	input {
		appearance: none;
		font-family: 'Merriweather', serif;
		border: solid 1px #c3c4c3;
		border-radius: 4px;
		padding: 0.7rem 1rem;
		font-size: 1.6rem;
		width: 100%;
	}
	label {
		color: #2c3e50;
		text-transform: uppercase;
		font-size: 1.2rem;
		display: block;
		margin-bottom: 0.4rem;
	}
}

form {
	.btn {
		width: 100%;
		margin-bottom: 1rem;
	}
}

.buttons-row {
	margin-top: 1rem;
}

input[type="file"] {
	display: none;
	+ label {
		line-height: normal;
		display: block;
		text-align: center;
	}
}
