.card-wrap {
	width: 100rem;
	max-width: 100%;
	@include sm {
		display: flex;
		margin: 0 auto;
	}
}

.left, .right {
	padding: 4.5rem 1rem;
	@include sm {
		padding: 4.5rem;
		width: 50%;
	}
}

.left {
	background: #fff;
	width: 45rem;
	margin: 0 auto;
	max-width: 100%;
	@include sm {
		width: 50%;
	}
}

.right {
	background: #e1e4e7;
	@include md {
		display: flex;
		align-items: center;
	}
}