html {
	font-size: 62.5%;
}

body {
	font-size: 1.5rem;
	font-family: 'Merriweather Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	@include sm {
		font-size: 1.6rem;
	}
}

h1 {
	font-size: 2.8rem;
	font-weight: 800;
	color: #2c3e50;
	margin-bottom: 3rem;
}

h4 {
	color: #b0b8bc;
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: solid 1px #dbe0e2;
	padding-bottom: 0.3rem;
	margin-bottom: 2.5rem;
	margin-top: 1.8rem;
}